<!-- Error Section Start -->

<div class="row">
    <div class="col-xl-10 offset-xl-1 ps-xl-0 text-center">
        <img src="~/img/404.png" alt="Iamge" class="mx-auto d-block mb-40">
        <h3 class="fs-24 fw-extrabold text-title mt-5 mb-40">Oops! We can’t find the page you’re looking for</h3>
        <a href="/Home/" class="btn style-two font-secondary fw-semibold position-relative z-1 round-10">
            <span>
                Back To Home
                <img src="~/img/icons/right-arrow-white.svg" alt="Icon" class="transition icon-left">
            </span>
            <img src="~/img/icons/right-arrow-white.svg" alt="Icon" class="transition icon-right">
        </a>
    </div>
</div>
   
<!-- Error Section End -->